<header>
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"> DJANGO PM </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#"> Projects </a>
        <a class="navbar-item" href="#"> Clients </a>
        <a class="navbar-item" href="#"> Teams </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-white" href="#">
                <span>LogIn</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
